<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shubham.com.addictionapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/JOYNT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".Navigation" />
        <activity
            android:name=".Navigation_Activity"
            android:label="@string/title_activity_navigation_"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".PsychoEducation"
            android:theme="@style/ThemeTimeline" />
        <activity
            android:name=".Timeline2"
            android:theme="@style/ThemeTimeline2"/>
        <activity android:name=".Timeline3"
            android:theme="@style/ThemeTimeline3"/>
        <activity android:name=".Timeline4"
            android:theme="@style/ThemeTimeline4"/>

    </application>

</manifest>